<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Recruitment{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
      <div class="container">
          <p>© Copyright 2019 Recurite pro All Rights Reserved</p>
          
      </div>
  </footer>
</body>
</html>