*{
    margin:0;padding:0
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'proxima_novaregular';
    box-sizing: border-box;
    font-size: 14px;
}
@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
header{
    padding:18px 10px;
    background:#1d2833;
    overflow: hidden;
}
.login a,.applybtnblk a{
    border-radius: 20px;
    background: #89b927;
    color: #fff;
    padding: 10px 40px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 5px 0 0;
    display: inline-block;
}
.banner img{
    max-width: 100%;
    width: 100%;
}
.banner{
    background:  url("../images/banner.jpg") no-repeat;
    height: 450px;
    width: 100%;
    background-size: cover;
    color:#fff;
    text-align: center;
}
.bannerheading{
    position: relative;
    top: 35%;
    left: 15%;
    width: 70%; 
}
.banner h2{
    font-size: 45px;
}
.latestjob .title{
    font-size: 25px;
    text-align: center;
}
.latestjob{
    padding: 40px 0 0;
    background:#f8f9fc;
    overflow: hidden;
}
.title span{
    color:#89b927;
}
.title h3,.banner span,.latestjobinnerblk h3{
    font-size: 20px;
}
.title{
    padding:0 0 30px;
}
.latestjobinnerblk p{
    margin: 0 0 10px;
}
.latestjobinnerblk{
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0.25rem 0.75rem 0rem #cccccc;
}
.latestblk{
    width: 50%;
    float: left;
    padding: 0px 7px 15px;
    box-sizing: border-box;
}
.latestjobinnerblk h3{
    padding-bottom: 10px;
}
.latestjobdescribtion{
    max-width: 1000px;
    margin: 0 auto;
    padding:0 0 25px;
    overflow: hidden;
}
.applybtnblk{
    text-align: center;
}
footer{
    background:#89b927;
    padding: 15px 10px;
    text-align: center;
    color:#fff;
}
.login-bg{
    background:#1d2833;
}
.loginlogo{
    text-align: center;
    margin: 60px 0 30px;
}
.login-layout{
    background-color: #fff;
    padding: 16px 36px;
   
}
.login-layout h1{
    font-size: 14px;
    padding-bottom: 5px;
    color: #666666;
    margin: 15px auto 19px;
    text-align: center;
}
.login-container{
    margin: 0 auto 40px;
    max-width: 375px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-shadow: 2.1px 2.1px 18px 0 rgba(0, 0, 0, 0.08);
}
.login-layout .input-icon>i {
    color: #cccccc;
    display: block;
    font-size: 16px;
    height: 16px;
    margin: 10px 2px 5px 9px;
    position: absolute;
    text-align: center;
    width: 16px;
    z-index: 3;
}
.login-layout .input-icon>.form-control {
    padding-left: 33px;
    box-sizing: border-box;
}
.login-layout .form-control {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-shadow: none;
    color: #333333;
    font-size: 14px;
    height: 36px;
    font-weight: normal;
    -webkit-transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
}
.form-control{
    width: 100%;
    display: block;
}

.login-layout .form-group {
    margin: 0 0 18px;
    overflow: hidden;
}
.checkbox-inline input[type="checkbox"]{
    position: absolute;
    margin-left: -20px;
}
.loginbutton{
    background-color: #89b927;
    border-color: #89b927;
    color: #fff;
    padding: 6px 30px;
    margin: 0 auto;
    font-size: 14px;
    display: block;
    border-radius: 5px;
    border: none;
}
.login-container.recturier-container{
    max-width: 550px;
    width: 100%;
}
.login-layout .uploadfile .form-control{
    border: none;
    height: auto;
}
.recturier-container .login-layout .input-icon>.form-control{
    padding: 0 10px;
}
.recturier-container .login-layout .uploadfile .input-icon>.form-control{
    padding: 0 0px;
}
.recturier-container .input-icon label{
    margin: 0 0 10px;
    display: block;
}
.recturier-container textarea{
    resize: none;
    width: 100%;
    height: 63px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
}
.submitinnerblk input{
    background-color: #89b927;
    border-color: #89b927;
    padding: 6px 30px;
    color:#fff;
    border-radius: 5px;
    font-size: 14px;
    border: none;
}
.cancelblk a{
    color:#000;
    margin: 9px 0 0;
    display: block;
}
.submitblk{
    overflow: hidden;
}
.login-container.recturier-container .login-layout{
    padding-bottom: 35px;
}
.loginpage{
    margin:0 10px;
}
#login_footer{
    margin-bottom: 195px;
}
#job_details{
    margin-bottom: 100px;
}
table, td, tr{
    margin:15px;
    font-size:15px;
}
.appln{
    text-align: center;
}

@media screen and (max-width: 767px) {
    .login a{
        font-size: 12px;
        padding: 10px 30px;
    }
    .banner h2{
        font-size: 34px;
    }
    .banner{
        height: 300px;
    }
    .banner span{
        font-size: 20px;
    }
    .latestblk{
        width: 100%;
    }
    .latestjobdescribtion{
        padding: 0 10px 25px;
    }
    .loginpage{
        padding: 0px 15px;
    }
    .login-layout{
        padding:16px 20px;
    }
    
}




