{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}

<header>
    <div class="container">
        <div class="logo pull-left">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
        </div>
        <div class="login pull-right">
            <a href="/login">
                Login
            </a>
        </div>
    </div>
</header>

<div class="banner">
    <div class="bannerheading">
        <h2>We offer job vacancies right now!</h2>
        <span>Find your desire one in a minute</span>
    </div>
</div>

<div class="latestjob">
    <div class="container">
        <div class="latestjobdescribtion">
            <div class="title">
                <h2>Latest<span class=""> Jobs</span></h2>
                <h3>Here you can see</h3>
            </div>
            {% for job in job_details %}
            <div class="latestblk">
                <div class="latestjobinnerblk">
                    <h3>{{ job.title }}</h3>
                    <!-- <h4>{{ job.company_name }}</h4> -->
                    <br>
                    <p>{{ job.job_description }}</p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{ job.city }}</span></p>
                    <p><i class="fa fa-money" aria-hidden="true"></i><span>{{ job.salary }}</span></p>
                    <p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{ job.job_time }}</span></p>
                    <p class="applybtnblk"><a href="/recruitment/{{ job.id }}/">Apply Now</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}