{% extends 'base.html' %}
{% load static %}

{% block title %} Application Details {% endblock %}

{% block content %}
<header>
    <div class="container">
        <div class="logo pull-left">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
        </div>
        <div class="login pull-right">
            <a href="/login">
                Logout
            </a>
        </div>
    </div>
</header>

<div class="latestjob" id="job_details">
    <div class="container">
        <div class="latestjobdescribtion">
            <div class="title">
                <h2>Application<span class=""> Details</span></h2>
            </div>

            {% for job in job_details %}
            <div class="latestblk">
                <div class="latestjobinnerblk">
                    <h3 class="appln">Resume</h3>
                    <table class="table_style">
                        <tr>
                            <td><b>Name: </b></td>
                            <td>{{ job.name }}</td>
                        </tr>
                        <tr>
                            <td><b>Email: </b> </td>
                            <td>{{ job.email }}</td>
                        </tr>
                        <tr>
                            <td><b>Phone: </b></td>
                            <td>{{ job.phone }}</td>
                        </tr>
                        <tr>
                            <td><b>Message: </b></td>
                            <td>{{ job.message }}</td>
                        </tr>
                        <tr>
                            <td><b>Status: </b></td>
                            <td>{{ job.status }}</td>
                        </tr>
                    </table>
                    <br/>
                    <a class="appln" href="/media/{{ job.resume_file }}" target="_blank">Click here to view resume</a>
                    <br/>
                    <br/>
                    <embed
                    src='/media/{{ job.resume_file }}#toolbar=0'
                    class="filesss cursor"
                    width="400px"
                    height="250px"
                  />
                    <p class="applybtnblk"><a href="/recruitment/{{ job.id }}/Accepted/">Accept</a></p>
                    <p class="applybtnblk"><a href="/recruitment/{{ job.id }}/Rejected/">Reject</a></p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}