{% extends 'base.html' %}
{% load static %}

{% block title %} Recruiter {% endblock %}

{% block content %}

<body class="login-bg">
    <section class="loginpage">
        <div class="loginlogo">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
        </div>
        <div class="login-container recturier-container">
            <div class="login-layout">
                <h1>Recturier form </h1>
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" name="job_id" value={{id}} type="hidden">
                        <div class="input-icon">
                            <label>Name</label>
                            <input class="form-control" name="name" type="text" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-icon">
                            <label>Email</label>
                            <input class="form-control" name="emailaddress" type="email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-icon">
                            <label>Phone Number</label>
                            <input class="form-control" name="phone" type="number" required>
                        </div>
                    </div>

                    <div class="form-group uploadfile">
                        <div class="input-icon">
                            <label>
                                Upload Resume
                            </label>
                            <input class="form-control" name="resume_file" type="file" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-icon">
                            <label>Message</label>
                            <textarea row="5" name="message"></textarea>
                        </div>
                    </div>
                    <div class="submitblk">
                        <div class="submitinnerblk pull-left">
                            <div class="submitbtn">
                                <input type="submit" value="submit">
                            </div>
                        </div>
                        <div class="cancelblk pull-right">
                            <a href="/">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

{% endblock %}
