{% extends 'base.html' %}
{% load static %}

{% block title %} Jobs {% endblock %}

{% block content %}

    <header>
        <div class="container">
            <div class="logo pull-left">
                <img src="{% static 'images/logo.png' %}" alt="logo" />
            </div>
            <div class="login pull-right">
                <a href="/login">
                    Logout
                </a>
            </div>
        </div>
    </header>

    <div class="latestjob">
        <div class="container">
            <div class="latestjobdescribtion">
                <div class="title">
                    <h2><span class="">Jobs</span></h2>
                </div>
                {% for job in job_details %}
                <div class="latestblk">
                    <div class="latestjobinnerblk">
                        <h3>{{ job.title }}</h3>
                        <!-- <h4>{{ job.company_name }}</h4> -->
                        <br>
                        <p>{{ job.job_description }}</p>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> <span>{{ job.city }}</span></p>
                        <p><i class="fa fa-money" aria-hidden="true"></i><span>{{ job.salary }}</span></p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{ job.job_time }}</span></p>
                        <p class="applybtnblk"><a href="/recruiter_details/{{ job.id }}/">Application</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}