{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}

<body class="login-bg">
    <section class="loginpage" id="login_footer">
        <div class="loginlogo">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
        </div>
        <div class="login-container">
            <div class="login-layout">
                <h1>Login to your account</h1>
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <input class="form-control" placeholder="Username" name="user_name" type="text" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input class="form-control" placeholder="Password" name="password" type="password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="loginbutton" type="submit" name="login" id="login"
                            class="pull-right">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

{% endblock %}
